#<IfModule mime_module>
#AddType application/x-httpd-py .py
#</IfModule>
#
#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ ws.py
#</IfModule>